<nav class="navbar navbar-expand-lg static-top hd-cl">
    <div class="container-fluid mx-5c">
        <a class="navbar-brand" href="#">
            <img id="main-img" src="../../../assets/logo.png" alt="logo">
            <img id="alt-logo" src="../../../assets/logo-bck.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Accessories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <!-- <i class="fas fa-shopping-cart"></i> -->


    </div>
</nav>